NODE_ENV=development
NEXT_PUBLIC_APP_NAME=Bayarindong
NEXT_PUBLIC_VERSION= # or retrieve from version on "package.json"
APP_URL=https://localhost:3000
API_URL=$APP_URL

NEXTAUTH_URL=$APP_URL
NEXTAUTH_SECRET=qwertyuiopasdfghjklzxcvbnmqwerty # https://generate-secret.vercel.app/32
NEXTAUTH_SESSION_MAXAGE=1800 # 30 minutes

BCRYPT_ROUNDS=10

ADMIN_NAME=Adminstrator
ADMIN_EMAIL=ian.rizkypratama@gmail.com
ADMIN_PASSWORD=admin12345

DB_URL=postgresql://root@localhost:5432/ianriizky_bayarindong
DB_URL_NON_POOLING=postgresql://root@localhost:5432/ianriizky_bayarindong

FIREBASE_ADMIN_TYPE=service_account
FIREBASE_ADMIN_PROJECT_ID=
FIREBASE_ADMIN_PRIVATE_KEY_ID=
FIREBASE_ADMIN_PRIVATE_KEY=
FIREBASE_ADMIN_CLIENT_EMAIL=
FIREBASE_ADMIN_CLIENT_ID=
FIREBASE_ADMIN_AUTH_URI=https://accounts.google.com/o/oauth2/auth
FIREBASE_ADMIN_TOKEN_URI=https://oauth2.googleapis.com/token
FIREBASE_ADMIN_AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
FIREBASE_ADMIN_CLIENT_X509_CERT_URL=
FIREBASE_ADMIN_UNIVERSE_DOMAIN=googleapis.com

NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=
NEXT_PUBLIC_FIREBASE_FCM_VAPID_KEY=

NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=G-QWERTYUIOP
